<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Preview</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <meta name="description" content="" />
    <meta
      name="author"
      content="Mark Otto, Jacob Thornton, and Bootstrap contributors"
    />
    <meta name="generator" content="Hugo 0.101.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
      html,
      body {
        display: flex;
        flex-direction: column;
        flex: 1;
        width: 100%;
        height: 200%;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
      }
    </style>
  </head>
  <ㅠ>
    <div class="w-[1518px] h-[1701px] relative overflow-hidden bg-white">
      <div
        class="w-[829px] h-[327px] absolute left-[387px] top-[929px] rounded-[10px] bg-[#efefef]"
        style="box-shadow: 0px 4px 4px 0 rgba(0, 0, 0, 0.25)"
      ></div>
      <div
        class="w-[829px] h-[148px] absolute left-[369.5px] top-[497.5px] rounded-[10px] bg-[#eaf6fd] border-2 border-[#bcbcbc]"
      ></div>
      <div
        class="w-[423px] h-[93px] absolute left-[731px] top-[525px] rounded-[7px] bg-white"
        style="box-shadow: 0px 1px 6px 0 rgba(0, 0, 0, 0.25)"
      ></div>
      <p
        class="absolute left-[415px] top-[593px] text-xs font-light text-left text-[#666]"
      >
        회원가입하신 후 홈페이지의 서비스를 이용하세요.
      </p>
      <p
        class="absolute left-[415px] top-[519px] text-[53px] text-left text-[#7acaec]"
      >
        member join
      </p>
      <p
        class="absolute left-[780px] top-[553px] text-[11px] font-medium text-left text-[#bcbcbc]"
      >
        STEP 01
      </p>
      <p
        class="absolute left-[787px] top-[569px] text-xl font-bold text-left text-[#bcbcbc]"
      >
        약관동의
      </p>
      <div class="w-[184px] h-[47px] absolute left-12 top-11 bg-white"></div>
      <div
        class="w-[91px] h-[25px] absolute left-[1361px] top-[19px] rounded-xl bg-[#d9d9d9]"
      ></div>
      <svg
        width="1518"
        height="1"
        viewBox="0 0 1518 1"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        class="absolute left-[-1px] top-[1534px]"
        preserveAspectRatio="xMidYMid meet"
      >
        <line y1="0.5" x2="1518" y2="0.5" stroke="#E3E3E3"></line>
      </svg>
      <p class="absolute left-[1281px] top-[25px] text-xs text-left text-black">
        회원가입
      </p>
      <a href="login" class="absolute left-[1391px] top-[25px] text-xs text-left text-black">
        로그인
      </a>
      <p class="absolute left-[77px] top-[77px] text-xs text-left text-black">
        digital learning center
      </p>
      <img
        class="w-[1518px] h-[281px] absolute left-[-1px] top-28"
        src="/background"
      />
      <p
        class="absolute left-[697px] top-56 text-[49px] font-bold text-left text-white"
      >
        회원가입
      </p>
      <svg
        width="16"
        height="16"
        viewBox="0 0 16 16"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        class="absolute left-[426px] top-[732px]"
        preserveAspectRatio="xMidYMid meet"
      >
        <circle cx="8" cy="8" r="8" fill="#0E91C9"></circle>
      </svg>
      <p
        class="absolute left-[468px] top-[722px] text-[31px] font-bold text-left text-black"
      >
        정보입력
      </p>
      <svg
        width="8"
        height="12"
        viewBox="0 0 8 12"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        class="w-2.5 h-1.5"
        preserveAspectRatio="none"
      >
        <path d="M1 1L7 6Z" fill="#BCBCBC"></path>
        <path
          d="M1 1L7 6"
          stroke="#BCBCBC"
          stroke-width="2"
          stroke-linecap="round"
        ></path>
        <path d="M1 11L7 6Z" fill="#BCBCBC"></path>
        <path
          d="M1 11L7 6"
          stroke="#BCBCBC"
          stroke-width="2"
          stroke-linecap="round"
        ></path>
      </svg>
      <p
        class="absolute left-[903px] top-[553px] text-[11px] font-medium text-left text-black"
      >
        STEP 02
      </p>
      <p
        class="absolute left-[910px] top-[569px] text-xl font-bold text-left text-black"
      >
        정보입력
      </p>
      <p
        class="absolute left-[1026px] top-[553px] text-[11px] font-medium text-left text-[#bcbcbc]"
      >
        STEP 03
      </p>
      <p
        class="absolute left-[1033px] top-[569px] text-xl font-bold text-left text-[#bcbcbc]"
      >
        가입완료
      </p>
      <svg
        width="8"
        height="12"
        viewBox="0 0 8 12"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        class="w-2.5 h-1.5"
        preserveAspectRatio="none"
      >
        <path d="M1 1L7 6Z" fill="#BCBCBC"></path>
        <path
          d="M1 1L7 6"
          stroke="#BCBCBC"
          stroke-width="2"
          stroke-linecap="round"
        ></path>
        <path d="M1 11L7 6Z" fill="#BCBCBC"></path>
        <path
          d="M1 11L7 6"
          stroke="#BCBCBC"
          stroke-width="2"
          stroke-linecap="round"
        ></path>
      </svg>
      
      <p
        class="absolute left-[502px] top-[1568px] text-[17px] text-left text-black"
      >
        개인정보처리방침
      </p>
      <p
        class="absolute left-[659px] top-[1568px] text-[17px] text-left text-black"
      >
        이메일추출방지정책
      </p>
      <p
        class="absolute left-[831px] top-[1568px] text-[17px] text-left text-black"
      >
        찾아오시는 길
      </p>
      <p
        class="absolute left-[502px] top-[1599px] text-[17px] text-left text-[#9d9d9d]"
      >
        <span class="text-[17px] font-light text-left text-[#9d9d9d]"
          >멋쟁이 사자처럼 중부대학교 </span
        ><span class="text-[17px] font-medium text-left text-[#9d9d9d]"
          >DIGITAL LEARNING CENTER</span
        ><span class="text-[17px] font-light text-left text-[#9d9d9d]">
          팀 </span
        ><span class="text-[17px] font-medium text-left text-[#9d9d9d]"
          >DLC</span
        >
      </p>
      <p
        class="absolute left-[502px] top-[1620px] text-[17px] font-light text-left text-[#9d9d9d]"
      >
        팀명 : DLC
      </p>
      <p
        class="absolute left-[502px] top-[1641px] text-[17px] font-light text-left text-[#9d9d9d]"
      >
        주소 : 28912 경기도 고양시 덕양구 대자동 중부대학교
      </p>
      <p
        class="absolute left-[615px] top-[1620px] text-[17px] font-light text-left text-[#9d9d9d]"
      >
        고유번호 : 010-1234-5678
      </p>
      <p
        class="absolute left-[856px] top-[1620px] text-[17px] font-light text-left text-[#9d9d9d]"
      >
        E-mail : qkudnd1837@naver.com
      </p>
      <div
        class="w-[829px] h-[50px] absolute left-[387px] top-[789px] rounded-[10px] bg-[#efefef]"
      ></div>
      <p
        class="absolute left-[429px] top-[793px] text-[25px] font-medium text-left text-black"
      >
        기본정보
      </p>
      <form action="register" method="POST">
        <input
        type="text"
        class="form-control"
        id="role"
        name="역할"
        value="교육생"
        style="display: none"
      />
    </div>
        <button
          class="w-[409px] h-11 absolute left-[388px] top-[866px] rounded-[10px] bg-[#90bdd7]"
          id="student"
        ></button>
        <p
          class="absolute left-[559px] top-[867px] text-[25px] font-bold text-left text-white"
        >
          교육생
        </p>
        <button
          class="w-[407px] h-11 absolute left-[809px] top-[866px] rounded-[10px] bg-[#90bdd7]"
          id="instructor"
        ></button>
        <p
          class="absolute left-[979px] top-[867px] text-[25px] font-bold text-left text-white"
        >
          교육자
        </p>
        <p
          class="absolute left-[417px] top-[946px] text-base font-medium text-left text-black"
        >
          아이디
        </p>
        <input
          type="text"
          name="username"
          id="아이디"
          class="w-44 h-[26px] absolute left-[606.25px] top-[942.25px] rounded-[5px] bg-white border-[0.5px] border-black"
        />
        <div
          class="w-[71px] h-[22px] absolute left-[795px] top-[944px] rounded-md bg-[#71a0bb]"
        ></div>
        <button
          class="absolute left-[806px] top-[948px] text-xs font-bold text-left text-white"
          id="checkUsername"
        >
          중복체크
        </button>
        <p
          class="absolute left-[883px] top-[949px] text-[11px] text-left text-[#4a4a4a]"
        >
          4~20 자의 영문, 숫자만 사용 가능합니다.
        </p>
        <p
          class="absolute left-[417px] top-[985px] text-base font-medium text-left text-black"
        >
          비밀번호
        </p>
        <input
          type="password"
          class="w-[203px] h-[26px] absolute left-[606.25px] top-[981.25px] rounded-[5px] bg-white border-[0.5px] border-black"
          name="비밀번호"
          id="password"
        />
        <p
          class="absolute left-[417px] top-[1024px] text-base font-medium text-left text-black"
        >
          비밀번호확인
        </p>
        <input
          type="password"
          class="w-[203px] h-[26px] absolute left-[606.25px] top-[1020.25px] rounded-[5px] bg-white border-[0.5px] border-black"
          name="비밀번호확인"
          id="passwordAgain"
        />
        <p
          class="absolute left-[417px] top-[1063px] text-base font-medium text-left text-black"
        >
          이름
        </p>
        <input
          type="text"
          class="w-[186px] h-[26px] absolute left-[606.25px] top-[1059.25px] rounded-[5px] bg-white border-[0.5px] border-black"
          name="이름"
          id="name"
        />
        <p
          class="absolute left-[417px] top-[1141px] text-base font-medium text-left text-black"
        >
          전화번호
        </p>
        <input
          type="text"
          class="w-[107px] h-[26px] absolute left-[606.3px] top-[1137.3px] rounded-[5px] bg-white border-[0.4px] border-[#565656]"
          name="전화번호1"
          id="homenumber1"
        />
        <p
          class="absolute left-[417px] top-[1180px] text-base font-medium text-left text-black"
        >
          핸드폰
        </p>
        <p
          class="absolute left-[417px] top-[1219px] text-base font-medium text-left text-black"
        >
          이메일
        </p>
        <input
          type="text"
          class="w-32 h-[26px] absolute left-[606.25px] top-[1215.25px] rounded-[5px] bg-white border-[0.5px] border-black"
          name="이메일1"
          id="email1"
        />
        <input
          type="text"
          class="w-[108px] h-[26px] absolute left-[766.25px] top-[1215.25px] rounded-[5px] bg-white border-[0.5px] border-black"
          name="이메일2"
          id="email2"
        />
        <input type="text" name='성별' id="gender" value="남자" style="display: none">
        <p
          class="absolute left-[417px] top-[1102px] text-base font-medium text-left text-black"
        >
          성별
        </p>
        <p
          class="absolute left-[833px] top-[988px] text-[11px] text-left text-[#4a4a4a]"
        >
          영어 대문자, 소문자, 숫자, 특수문자(!,#,_) 중 3종류 조합
        </p>
        <input
        type="radio"
        class="absolute left-[611px] top-[1105px]"
        value="남자"
        id="male"
      />
      <p
        class="absolute left-[633px] top-[1103px] text-[15px] font-medium text-left text-black"
      >
        남자
      </p>
      <input
        type="radio"
        class="absolute left-[679px] top-[1105px]"
        value="여자"
        id="female"
      />
      <p
        class="absolute left-[701px] top-[1103px] text-[15px] font-medium text-left text-black"
      >
        여자
      </p>
        <svg
          width="13"
          height="9"
          viewBox="0 0 13 9"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          class="w-[10.04px] h-[6.02px]"
          preserveAspectRatio="none"
        >
          <path
            d="M1 1.36035L6.23214 7.19921"
            stroke="#A6A6A6"
            stroke-width="2"
            stroke-linecap="round"
          ></path>
          <path
            d="M11.0319 0.999965L6.23224 7.19924"
            stroke="#A6A6A6"
            stroke-width="2"
            stroke-linecap="round"
          ></path>
        </svg>
        <p
          class="absolute left-[720px] top-[1140px] text-lg font-light text-left text-black"
        >
          -
        </p>
        <input
          type="text"
          class="w-[90px] h-[26px] absolute left-[734.25px] top-[1137.25px] rounded-[5px] bg-white border-[0.5px] border-black"
          name="전화번호2"
          id="homenumber2"
        />
        <input
          type="text"
          class="w-[90px] h-[26px] absolute left-[845.25px] top-[1137.25px] rounded-[5px] bg-white border-[0.5px] border-black"
          name="전화번호3"
          id="homenumber3"
        />
        <p
          class="absolute left-[831px] top-[1140px] text-lg font-light text-left text-black"
        >
          -
        </p>
        <input
          type="text"
          class="w-[62px] h-[26px] absolute left-[606.3px] top-[1176.3px] rounded-[5px] bg-white border-[0.4px] border-[#565656]"
          name="핸드폰1"
          id="phonenumber1"
        />
        <p
          class="absolute left-[678px] top-[1179px] text-lg font-light text-left text-black"
        >
          -
        </p>
        <input
          type="text"
          class="w-[90px] h-[26px] absolute left-[692.25px] top-[1176.25px] rounded-[5px] bg-white border-[0.5px] border-black"
          name="핸드폰2"
          id="phonenumber2"
        />
        <input
          type="text"
          class="w-[90px] h-[26px] absolute left-[803.25px] top-[1176.25px] rounded-[5px] bg-white border-[0.5px] border-black"
          name="핸드폰3"
          id="phonenumber3"
        />
        <p
          class="absolute left-[789px] top-[1179px] text-lg font-light text-left text-black"
        >
          -
        </p>
        <p
          class="absolute left-[743px] top-[1219px] text-base font-medium text-left text-black"
        >
          @
        </p>
        <button type="submit" class="w-[110px] h-[52px] absolute left-[714px] top-[1332px] rounded-[5px] bg-[#2082ba]"></button>
      <p
        class="absolute left-[740px] top-[1335px] text-[28px] font-bold text-left text-white"
      >
        완료
      </p>
      <div
        class="w-[110px] h-[52px] absolute left-[863px] top-[1334px] rounded-[5px] bg-[#d9d9d9]"
      ></div>
      <a href="/"
        class="absolute left-[891px] top-[1335px] text-[28px] font-bold text-left text-[#7b7b7b]"
      >
        취소
      </a>
      </form>

      <a
      href="/bongsa1"
      class="absolute left-[692px] top-[55px] text-lg font-semibold text-left text-black"
    >
      자원봉사
    </a>
    <a
      href="/noti"
      class="absolute left-[794px] top-[55px] text-lg font-semibold text-left text-black"
    >
      게시판
    </a>
    <a
      href="/album"
      class="absolute left-[879px] top-[55px] text-lg font-semibold text-left text-black"
    >
      자료실
    </a>
      <p
        class="absolute left-[879px] top-[55px] text-lg font-bold text-left text-black"
      >
        자료실
      </p>
      <a href="/">
        <img
          src="/logo"
          class="w-[140px] h-[140px] absolute left-5 top-[-28px] object-cover"
        />
      </a>
      <p class="absolute left-[77px] top-[77px] text-xs text-left text-black">
        digital learning center
      </p>
      <svg
        width="1518"
        height="1"
        viewBox="0 0 1518 1"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        class="absolute left-[-1px] top-[98px]"
        preserveAspectRatio="xMidYMid meet"
      >
        <line y1="0.5" x2="1518" y2="0.5" stroke="#E3E3E3"></line></svg
      ><img
        src="/logo"
        class="w-[126px] h-[126px] absolute left-[296px] top-[1546px] object-cover"
      />
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
      crossorigin="anonymous"
    ></script>
    <script>
      //성별입력
      const genderInput = document.getElementById('gender')
      const maleRadio = document.getElementById('male')
      const femaleRadio = document.getElementById('female')

      // 남성 라디오 버튼 클릭 시
      maleRadio.addEventListener('click', () => {
        genderInput.value = '남성'
      })

      // 여성 라디오 버튼 클릭 시
      femaleRadio.addEventListener('click', () => {
        genderInput.value = '여성'
      })

      //역할 입력
      const roleInput = document.getElementById('role')
      const instructorBlock = document.getElementById('instructor')
      const studentBlock = document.getElementById('student')

      // 교육자 라디오 버튼 클릭 시
      instructorBlock.addEventListener('click', () => {
        event.preventDefault()
        roleInput.value = '교육자'
      })

      // 교육생 라디오 버튼 클릭 시
      studentBlock.addEventListener('click', () => {
        event.preventDefault()
        roleInput.value = '교육생'
      })

      ////중복체크
      const usernameInput = document.getElementById('username')
      const checkButton = document.getElementById('checkUsername')

      // 중복체크 버튼 클릭 이벤트 핸들러
      checkButton.addEventListener('click', () => {
        event.preventDefault()
        const username = usernameInput.value
        checkDuplicateUsername(username)
      })

      // 아이디 중복체크 함수
      function checkDuplicateUsername(username) {
        fetch('/checkUsername', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify({ username }),
        })
          .then((response) => response.json())
          .then((data) => {
            if (data.duplicate) {
              alert('이미 사용 중인 아이디입니다.')
            } else {
              alert('사용 가능한 아이디입니다.')
            }
          })
          .catch((error) => {
            console.error('Error:', error)
            alert('서버와의 통신에 문제가 발생했습니다.')
          })
      }
      ////비밀번호확인 기능
      const passwordInput = document.getElementById('password')
      const passwordAgainInput = document.getElementById('passwordAgain')
      const registerButton = document.getElementById('registerButton')

      registerButton.addEventListener('click', (event) => {
        const password = passwordInput.value
        const passwordAgain = passwordAgainInput.value

        if (password !== passwordAgain) {
          event.preventDefault()
          alert('비밀번호와 비밀번호 확인이 일치하지 않습니다.')
        }
      })
    </script>
  </body>
</html>
